nav.navbar, .navbar-default {
  background-color: palevioletred;
  margin-bottom: 0px;
  padding-bottom: 10px; 
   
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0px;
  
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
  margin: inherit;
}

.navbar-default .navbar-brand {
  color: white !important;
  font-size: 25px;
}

.navbar-default .navbar-toggle {
  border-color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  color: rgb(129, 31, 194) !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: rgb(199, 149, 149) !important;
  background-color: transparent;
  
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: rgb(129, 31, 194) !important;
  background-color: transparent;
}
 
strong {
  font-size: 20px;
  color: whitesmoke;
  display: inline;
  margin-right: 10px;
  text-align: right;
  padding-left: -40px;
  padding-right: -40px;
}

strong:hover {
  color: rgb(129, 31, 194) !important;
  background-color: transparent;
}