nav.navbar, .navbar-default {
  background-color: palevioletred;
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 15px;
   height: 60px;
}




.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0px;
  
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 25px;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
  
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: rgb(129, 31, 194);
  background-color: transparent;
}
 
