.content {
    text-align: center;
}

h4{
    font-size: 30px;
    font-family: monospace;
    font-style: italic;
    color: rgba(145, 26, 224, 0.836)
}

h5 {
    font-size: 40px;
    color: rgb(255, 0, 119);
    font-style: oblique;
    -webkit-text-stroke-width: 2px;
    
}

.progress {
    width: 60%;
    margin-top: 18px;
    height: 23px;
}

.progress-bar {
    width: 50%;
}
