.content {
    text-align: center;
}

body{
overflow-y: scroll;
overflow-x: hidden;
}

/* @media (max-width: 766px) {
    .overflow-hidden {
        overflow-x: hidden;
    }
    .overflow-visible {
        overflow-x: visible;
    }
} */


.progress {
    width: 60%;
    margin-top: 18px;
    height: 23px;
}

.progress-bar {
    width: 50%;
}

/* .footer {
    position: bottom;
    left: 0;
    top:100;
    bottom: 0;
    width: 100%;
    background-color: rgb(197, 21, 21);
    color: rgb(21, 221, 161);
    text-align: center;
    height: 220px;
 } */

 .footer {
    position: absolute;
    right: 0;
    bottom: 10;
    left: 0;
    top:100;
    padding: 1px;
    background-color: #520b0b;
    text-align: right;
    align-content: right;
  }
